# https://artifacthub.io/packages/helm/grafana/loki
# https://github.com/grafana/loki/tree/main/production/helm/loki

namespace: monitoring
helmCharts:
  - name: loki
    repo: https://grafana.github.io/helm-charts
    version: 6.49.0
    releaseName: loki
    namespace: monitoring
    includeCRDs: true
    valuesFile: values.yaml
