# yaml-language-server: $schema=https://raw.githubusercontent.com/grafana/loki/main/production/helm/loki/values.schema.json
# schema is empty because why wouldn't it be

# based on
# https://github.com/grafana/loki/blob/main/production/helm/loki/single-binary-values.yaml

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  ingester:
    chunk_encoding: snappy
  tracing:
    enabled: true
  querier:
    max_concurrent: 2

deploymentMode: SingleBinary
singleBinary:
  replicas: 1
  persistence:
    storageClass: memory-hdd
  resources:
    limits:
      cpu: 1
      memory: 512Mi
      ephemeral-storage: 300Mi
    requests:
      cpu: .1
      memory: 256Mi
      ephemeral-storage: 50Mi
  extraEnv:
    - name: GOMEMLIMIT
      value: 400MiB

chunksCache:
  writebackSizeLimit: 10MB
  allocatedMemory: 600
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
      ephemeral-storage: 0
    limits:
      cpu: 200m
      memory: 256Mi
      ephemeral-storage: 200Mi
resultsCache:
  allocatedMemory: 300
  writebackSizeLimit: 30MB
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
      ephemeral-storage: 0
    limits:
      cpu: 200m
      memory: 256Mi
      ephemeral-storage: 200Mi
test:
  enabled: false
lokiCanary:
  enabled: false # needed by `helm test` which runs automatically when deploying
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
      ephemeral-storage: 0
    limits:
      cpu: 200m
      memory: 256Mi
      ephemeral-storage: 200Mi
minio:
  enabled: true
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
      ephemeral-storage: 50Mi
    limits:
      cpu: 200m
      memory: 256Mi
      ephemeral-storage: 200Mi
  persistence:
    storageClass: memory-hdd
gateway:
  affinity: {} # allow scheduling 2 gateways on the same node, needed when updating
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
      ephemeral-storage: 0
    limits:
      cpu: 200m
      memory: 256Mi
      ephemeral-storage: 200Mi
sidecar: # loki-sc-rules
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
      ephemeral-storage: 0
    limits:
      cpu: 200m
      memory: 256Mi
      ephemeral-storage: 200Mi
memcachedExporter:
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
      ephemeral-storage: 0
    limits:
      cpu: 200m
      memory: 256Mi
      ephemeral-storage: 200Mi

backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
distributor:
  replicas: 0
compactor:
  replicas: 0
indexGateway:
  replicas: 0
bloomCompactor:
  replicas: 0
bloomGateway:
  replicas: 0
