# https://github.com/argoproj/argo-helm
# https://artifacthub.io/packages/helm/argo-cd-oci/argo-cd

namespace: argocd

resources:
  - namespace.yaml

helmCharts:
  - name: argo-cd
    repo: oci://ghcr.io/argoproj/argo-helm
    version: 9.3.4
    releaseName: argocd
    apiVersions:
      - monitoring.coreos.com/v1
    # https://github.com/argoproj/argo-helm/tree/main/charts/argo-cd#general-parameters
    # or scroll down to "General parameters" on artifacthub
    # or https://github.com/argoproj/argo-helm/blob/main/charts/argo-cd/values.yaml
    valuesInline:
      configs:
        cm:
          # https://argo-cd.readthedocs.io/en/stable/user-guide/kustomize/#kustomizing-helm-charts
          kustomize.buildOptions: "--enable-helm"

      global:
        networkPolicy:
          create: true
      
      # resource requests/limits are from https://github.com/argoproj/argo-helm/blob/main/charts/argo-cd/values.yaml
      # nvm they are useless
      controller:
        resources:
          limits:
            cpu: 500m
            memory: 900Mi
            ephemeral-storage: 200M
          requests:
            cpu: 250m
            memory: 287Mi
            ephemeral-storage: 0
      dex:
        initImage:
          resources:
            limits:
              cpu: 110m
              memory: 128Mi
              ephemeral-storage: 600M
            requests:
              cpu: 110m
              memory: 64Mi
              ephemeral-storage: 0
        resources:
          limits:
            cpu: 150m
            memory: 200Mi
            ephemeral-storage: 400Mi
          requests:
            cpu: 10m
            memory: 32Mi
            ephemeral-storage: 100Mi
      redis:
        resources:
          limits:
            cpu: 500m
            memory: 300Mi
            ephemeral-storage: 200M
          requests:
            cpu: 100m
            memory: 64Mi
            ephemeral-storage: 0
      redisSecretInit:
        resources:
          limits:
            cpu: 400m
            memory: 64Mi
            ephemeral-storage: 200M
          requests:
            cpu: 100m
            memory: 32Mi
            ephemeral-storage: 0
      server:
        extensions:
          resources:
            limits:
              cpu: 150m
              memory: 128Mi
              ephemeral-storage: 200M
            requests:
              cpu: 10m
              memory: 32Mi
              ephemeral-storage: 50Mi
        resources:
          limits:
            cpu: 500m
            memory: 600Mi
            ephemeral-storage: 200M
          requests:
            cpu: 50m
            memory: 64Mi
            ephemeral-storage: 50Mi
      repoServer:
        copyutil:
          resources:
            limits:
              cpu: 100m
              memory: 64Mi
              ephemeral-storage: 600M
            requests:
              cpu: 50m
              memory: 32Mi
              ephemeral-storage: 50Mi
        resources:
          limits:
            cpu: 700m
            memory: 700Mi
            ephemeral-storage: 400Mi
          requests:
            cpu: 10m
            memory: 64Mi
            ephemeral-storage: 100Mi
      applicationSet:
        resources:
          limits:
            cpu: 500m
            memory: 600Mi
            ephemeral-storage: 200M
          requests:
            cpu: 100m
            memory: 100Mi
            ephemeral-storage: 0
      notifications:
        resources:
          limits:
            cpu: 300m
            memory: 256Mi
            ephemeral-storage: 200M
          requests:
            cpu: 100m
            memory: 64Mi
            ephemeral-storage: 0
